.footer-area{
    background-image: url(../../../images/footer-bg.jpg);
    background-size: cover;
    position: relative;
    z-index: 1;
}
.footer-area::before{
    position: absolute;
    /* height : 600px; */
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background : black;
    opacity : 0.7;
    z-index: -1;
}

.footer-area li{
    padding-bottom: 10px;
    color: azure;
}

.social-media .icon{
    height: 40px;
    width: 40px;
    color: #1cc7c1;
    border-radius: 50%;
    border: 1px solid #6ACECE;
    padding: 10px;
}
.social-media .active-icon{
    background-color: #6ACECE ;
    color:white;
}